*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #f9f9f9;
    text-transform: capitalize;
}
h1{
    text-align: center;
    font-weight: 900;
    margin: 5vh ;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#scr-input{
    width: 60%;
    max-width: 400px;
    border-radius: 5px;
    padding: 10px 20px;
    border: none;
    color: #333;
    font-size: 18px;
   box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#srcbtn{
    padding: 10px 20px;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
     color: #fff;
    font-size: 18px;
     transition: all 0.3s ease-in-out;
     cursor: pointer;
}

#srcbtn:hover{
    opacity: 0.6;
}
.showresults{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
max-width: 1200px;
margin: 0 auto;
padding: 20px;

     
}
.res{
  margin-bottom: 60px;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
   
}
.res:hover img {
  transform: scale(1.05);
}
.img{
    height: 40vh;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: transform 0.3s ease-in-out;
}
.info{
    text-decoration: none;
    color: #000;
    text-align: center;
    font-weight: 300;
 transition: background-color 0.3s ease-in-out;
}
#footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4vh;
}
#ShowMore{
    padding: 7px 25px;
    background-color: #4c99af;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    display: none;
    transition: all 0.3s ease-in-out;
}

#ShowMore:hover{
    opacity: 0.6;
}